.row a {
    color: black;
    border-style: solid;
    text-decoration: none;
    background-color: tomato;


}
.row {
    width: 100px;
    height: 50px;
    font-size: 30px;
   
}

#row-1 a {
    border-top-style: none;
}
#row-3 a {
    border-bottom-style: none;
}

#cell-1,#cell-4,#cell-7{
    border-left-style: none;
}
#cell-3,#cell-6,#cell-9 {
    border-right-style: none;
}


#row-1 a:hover {
    background-color: blue;
}
#row-2 a:hover {
    background-color: chartreuse;
}
#row-3 a:hover {
    background-color: deeppink;
}